.entirePage {
  overflow: scroll;
  background-color: rgb(230, 204, 255);
  font-family: "Satisfy", cursive;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 5px;
  box-shadow: -2px 0 8px #666666;
  padding: 10px;
}

.dark {
  background-color: black;
  color: white;
}

.header {
  width: 99%;
}

.header__elem {
  font-size: 40pt;
}

.menuItem {
  margin: 20px;
  font-size: 16pt;
  text-decoration: none;
  color: white;
}

.container {
  width: 60%;
  margin-top: 5px;
  background-color: white;
  border: 2px solid black;
}

.logo {
  height: 350px;
  width: 150px;
  margin: 5px;
  transform: scaleX(4.5);
  box-shadow: -2px 0 5px #b3b3b3;
  border-radius: 2px;
}

#bio {
  font-size: 24;
}

.shows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 2px;
  font-size: 18pt;
  border-radius: 2px;
  color: black;
  background-color: rgb(255, 191, 208);
}

#schedule {
  width: 90%;
  font-size: 20pt;
}

.footer {
  font-size: 16pt;
  text-decoration: none;
  color: black;
}
